@model WebApplication1.Models.donhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<<h2>THÔNG TIN CHI TIẾT ĐƠN HÀNG</h2>
<br />


<div>
    <i class="fa fa-undo fa-fw"></i>@Html.ActionLink("Quay lại", "Index", "donhangs")
</div>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khachhang.matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khachhang.matkhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa","Edit", "Edit", new { id = Model.iddh }) 
</p>
